* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    /* border: 1px solid yellowgreen; */
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
}

li {
    display: inline-block;
    margin-left: 30px;
    font-size: 17px;
}

a {
    color: black;
    text-decoration: none;
}

h1 {
    font-size: 2rem;
    text-align: center;
    margin: 20px;
}

input {
    display: block;
    margin: 10px auto;
}